.linkTitle {
	text-transform: uppercase;
	letter-spacing: 4px;
	font-family: M PLUS 1p;
	color: #ffffff;
	position: relative;
	text-decoration: none;
	display: inline-block;
	padding: 15px 20px;
}
.linkTitle::after {
	content: '';
	position: absolute;
	width: 80%;
	background-color: #f61067;
	height: 2px;
	display: block;
	margin-top: 10px;
}
