::-webkit-scrollbar {
	width: 0.4rem;
}
::-webkit-scrollbar-track {
	background-color: #2a2b2e;
}
::-webkit-scrollbar-thumb {
	background-color: #fcaa44;
	border: 1px solid #fcaa44;
	border-radius: 5px;
}
html {
	overflow-x: hidden;
}
